  body {background-color:#b9d0ed; margin-top:0; margin-right:0; padding:0; text-align:center;}
  td {background-color:white; padding:5;}
  td span {background-color:#b9d0ed;}
  h1 {margin-top:10; margin-bottom:10;}
