th,td {padding-left:10px; padding-right:10px; cursor:target;}
body {background-color:#b9d0ed;}
td {background-color:white;}
th a {text-decoration: none; color:black;}
th a:visited {color: black;}
td a {color:black;}
td a:visited {color: black;}
